# Ignore environment variables
.env

# Ignore our local database/metrics and log files
metrics.json
metrics.jsonl
*.log
response*.json

# Ignore Python virtual environments and cache
venv/
__pycache__/